html {
  width: 100%;
  height: 100%;
  background-color: #080a0b;
  color: floralwhite;
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  background-color: #080a0b;
  text-align: center;
}

head {
  width: 100%;
  height: 100%;
  background-color: #080a0b;
  text-align: center;
}

button {
  background-color: #0b0724;
  color: floralwhite;
  border: 1px dotted rgb(43, 207, 21);
  border-radius: 5px;
  padding: 2px 4px;
  margin: 5px;
  cursor: pointer;
}
button:hover {
  transition: 1000ms;
  padding: 2px 8px;
  transform: translateY(-0px);
  background-color: #0b0724;
  color: floralwhite;
  border: solid 3px rgb(252, 245, 115);
}
#hi {
  height: 2px;
}
input {
  height: 14px;
  width: 480px;
  padding: 5px;
  border: 1px dotted rgba(235, 214, 109, 0.894);
  border-radius: 5px;
  background-color: #141414;
  color: rgb(255, 245, 225);
  font-size: 13px;
}

input:hover {
  transition: 700ms;
  padding: 4px 10px;
  transform: translateY(-0px);
  background-color: #0b0724;
  color: floralwhite;
  border: solid 2px rgb(47, 255, 0);
}
iframe {
  border: 2px solid aqua;
  border-radius: 10px;
}

#Aluben {
  font-size: 50px;
  color: #001191;
  text-decoration: underline;
}
img {
  height: 100px;
  color: #001191;
  position: relative;
  top: 50px;
}
#txt {
  font-size: 23px;
  color: honeydew;
}
script {
  background-size: cover;
  color: white;
  position: absolute;
  width: 350px;
  border-radius: 5px;
  left: 50%;
  margin-left: -160px;
  padding: 16px 8px 8px;
  box-sizing: border-box;
}

select {
  background-color: #001141;
  border: 2px solid orange;
  color: floralwhite;
}

#traf-say {
  display: none;
  font-size: 24px;
  color: red;
  position: absolute;
  top: 20px;
}
#traf-say:hover {
  font-size: 100vh;
}
.stinky {
  color: red;
  text-decoration: none;
}
.header {
  color: rgb(255, 255, 255);
  background-color: rgb(36, 36, 36);
  text-align: center;
  left: 0%;
  position: fixed;
  width: 100%;
  top: 0px;
}
#cust {
  color: rgb(255, 255, 255);
  background-color: #3d3d3d;
  text-align: center;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 200vh;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  align-self: center;
}
#remove {
  position: absolute;
  right: 140px;
}
.subtitle {
  font-size: 29px;
}
#containerforheadertoggle {
  text-align: right;
  position: fixed;
}
#closeset {
  position: absolute;
  right: 10px;
  top: 20px;
}
#closesetbutton {
  background-color: #3d3d3d;
  text-align: center;
  border: 0px solid;
  padding: 10px 20px;
}
#closesetbutton:hover {
  background-color: #3d3d3d;
  text-align: center;
  border: 0px solid #3d3d3d;
  padding: 10px 20px;
}
#cust1 {
  background-color: rgb(36, 36, 36);
  text-align: center;
  border: 0px solid;
  padding: 10px 20px;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
#cust1:hover {
  background-color: rgb(36, 36, 36);
  text-align: center;
  border: 0px solid #3d3d3d;
  padding: 10px 10px;
}
/*traf*/
#settingsimg {
  height: 28px;
  width: 28px;
  position: relative;
  top: 7px;
  background-color: #3d3d3d;
}
#minidiv {
  background-color: #333333;
  border-radius: 50px;
  width: 600px;
  align-self: center;
  align-items: center;
  text-align: center;
  margin-left: 0 auto;
  border: 2px dotted #ffffff;
}

#randomthingtrustbutt {
  background-color: blue;
}

#headertoggle2 {
  position: absolute;
  right: 0px;
  bottom: 75px;
  max-width: 25px;
}


#headertoggle2div {
  position: relative;
  left: 0px;
  
  background-color: aliceblue;
}
#trafsftsfwtgsuwgsgwshwj {
  color: #c658ca;
}
#minidiv2 {
  background-color: #333333;
  border-radius: 50px;
  width: 600px;
  align-self: right;
  align-items: right;
  text-align: center;
  position: absolute;
  top: 139px;
  right: 0%;
  border: 2px dotted white;
}
#minidiv3 {
  background-color: #333333;
  border-radius: 50px;
  width: 600px;
  align-self: right;
  align-items: right;
  text-align: center;
  position: absolute;
  right: 0%;
  top: 490px;
  border: 2px dotted white;
}
#minidiv5 {
  background-color: #333333;
  border-radius: 50px;
  width: 600px;
  align-self: right;
  align-items: right;
  text-align: center;
  position: absolute;
  right: 0%;
  top: 650px;
  border: 2px dotted white;
}
#search {
  height: 14px;
  width: 100px;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 5px;
  background-color: #141414;
  color: floralwhite;
  font-size: 13px;
}
#search_contain {
  left: 0%;
  position: absolute;
  text-align: left;
  background-color: #3d3d3d;
  top: 90px;
  display: none;
}
#closesearchbut {
  background-color: #3d3d3d;
  color: white;
  border: 0px solid #3d3d3d;
}
#closesearchbut:hover {
  background-color: #3d3d3d;
  color: white;
  border: 0px solid #3d3d3d;
}
#picker {
  height: 20px;
  width: 17px;
  padding: 0px;
  border: 0px solid;
  border-radius: 0px;
  background-color: #141414;
  color: floralwhite;
  font-size: 13px;
}
#sidebartoggler {
  position: absolute;
  left: 1px;
  top: 250px;
  height: 50px;
}
#sidebartoggler2 {
  position: absolute;
  left: 75px;
  top: 250px;
  height: 50px;
}
#sb {
  position: absolute;
  left: 1px;
  background-color: #313131;
  border: 2px dashed whitesmoke; 
  height: 50px;
  width: 70px;
  top: 253px;
  text-align: center;
}
